@model IEnumerable<CommonLayer.Model.EmployeeModel>

@{
    ViewData["Title"] = "GetAllEmployees";
}


<div class = "heading">
    <h5>All Employee Details</h5>
</div>

<p>
    <button type = "button" button class ="btn btn-primary " onclick="location.href='@Url.Action("AddEmployee", "Employee")'">Add New Employee </button>
  
    
    @*<a asp-action="AddEmployee">Add New Employee</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td>
                @*@Html.DisplayFor(modelItem => item.ProfileImage)*@
                <img src = "@Url.Content(item.ProfileImage)"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "EditEmployee", new { id = item.EmployeeID }) |
                @Html.ActionLink("Details", "GetEmployeeById", new { id = item.EmployeeID }) |
                @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.EmployeeID }) 
                    

            </td>
        </tr>
            
}
    </tbody>
</table>
<div>

    <button type="button" button class="btn btn-primary " onclick="location.href='@Url.Action("Index", "Home")'">Back To Home </button>
    
</div>
@{
    string admin = ViewBag.Name;
}
@admin
